*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.title{
  text-align: center;
  margin: 20px 0;
  color: red;
}
.wrapper{
  display: flex;
  justify-content: center;
}

.software, .impiegati{
  width: 350px;
  border: 2px solid green;
  padding: 10px;
  margin: 0 20px 50px 20px;
}

p{
  margin: 10px 0;
}
.f-s35{
  font-size: 35px;
}
